* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
@font-face {
  font-family: Yekan;
  src: url("../../fonts/yekan/IRANYekanWeb.eot");
  src: url("../../fonts/yekan/IRANYekanWeb.ttf");
  src: url("../../fonts/yekan/IRANYekanWeb.woff");
  src: url("../../fonts/yekan/IRANYekanWeb.woff2");
}
@font-face {
  font-family: BSOHRAB;
  src: url("../../fonts/B-NAZANIN.TTF");
}
:root {
  --borderRAdiusSmall: 7px;
  --borderRAdiusMedium: 15px;
  --borderRAdiusCircle: 100%;
  --fontFamily: Yekan;
  --fontSohrab: BSOHRAB;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 35px;
  height: 35px;
  background-color: whitesmoke;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 12px;
  font-weight: bold;
  color: #2b2b2b;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background-color: #2b2b2b;
  transition: 300ms;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
  height: 5px;
  border-radius: 3px;
}
.border-radius {
  border-radius: 0 15px 15px 0;
}
